h1{
  text-align: center;
  color: #0288D1;
}
h2.tropical{
  color: #f7325e;

}
p.tropical{
  color: #7dc410;
}
.tropical{
  font-family: fantasy;
}
h3.popular{
color: #0288D1;

}
body{
background-color: #D1C4E9

}
